@import 'icons';

#about {

    color: $dark-color;
    background: $light-color;
    padding-bottom: 10vh;


    .heading-container {

        width: 100%;
        text-align: center;

        h1{
            font-family: 'Mitr', sans-serif;
            color: #333;
            display: inline-block;
            font-size: 2rem;
            letter-spacing: 0.75rem;
            font-weight: 600;
            padding: 2rem;

            &:after{
                content: '';
                width: 6rem;
                height: 0;
                border-bottom: 2px solid #333;
                display: block;
                margin: 0 auto;
                margin-top: 0.5rem;
            }
        }
    } 

    #image-about {

        padding-top: 5vh;
        padding-bottom: 4rem;

        .portrait-image {
            height: 300px;
            width: 300px;
            border-radius: 50%;
            background: rgba(red, 0.5);
            margin: 0 0 1rem 3rem;
            float: right;
        }

        p {
            line-height: 3rem;
            width: 100%;
        }        
    }

    #tech-about {

        .tech-list {
            width: 90%;
            margin: 0 auto;
            height: 10rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            list-style-type: none;          

            .tech-list-item {
                width: 30%;
                text-align: left;
                display: flex;
                padding-bottom: 1.5rem;

                .tech-icon {
                    width: 50%;
                    text-align: center;
                    font-size: 1.5rem;

                    &#express-icon {
                        font-size: 1rem;
                    }
                }
            }
        }

        h3 {
            text-align: center;
            padding-bottom: 3rem;
            font-weight: 600;
        }

    }
}