#home {

    color: $light-color;
    background: #111;
    

    .content-container {
        width: 100%;
        text-align: center;

        .logo-container {
            padding: 10vh 0;

            #logo {
                animation: color-fill 2s ease forwards 3s;
            }

            #logo path:nth-child(1){
                stroke-dasharray: 555;
                stroke-dashoffset: 555;
                animation: draw-line 2s ease forwards 1s;
            }
            
            #logo path:nth-child(2){
                stroke-dasharray: 335;
                stroke-dashoffset: 335;
                animation: draw-line 6s ease forwards 1s;
            }
            
            #logo path:nth-child(3){
                stroke-dasharray: 308;
                stroke-dashoffset: 308;
                animation: draw-line 2s ease forwards 1.25s;
            }
            
            #logo path:nth-child(4){
                stroke-dasharray: 23;
                stroke-dashoffset: 23;
                animation: draw-line 2s ease forwards 1.75s;
            }

            @keyframes draw-line {
                to{
                    stroke-dashoffset: 0;
                }
            }

            @keyframes color-fill {
                from{
                    fill: transparent;
                    stroke-width: 2px;
                }
                to {
                    fill: #f3f3f3;
                    stroke-width: 0px;
                }
            }
        }

        #home-name {
            font-family: 'Mitr', sans-serif;
            display: block;
            font-size: 4rem;
            font-weight: 400;

            &:after{
                content: '';
                width: 15rem;
                height: 0;
                border-bottom: 2px solid #f3f3f3;
                display: block;
                margin: 0 auto;
            }
        }

        .sub-headings {
            padding-top: 2rem;
            h2{
                display: inline-block;

                &:nth-of-type(1){
                   font-family: 'Architects Daughter', cursive; 
                   color: $blue;
                }
                &:nth-of-type(2){
                    font-family: 'Roboto mono', monospace;
                    font-size: 1.2rem;
                    color: $green;
                }
            }
            #home-plus{
                padding: 0 2rem;
            }
        }
    }

    .action-btn {
        cursor: pointer;
        background: rgba($light-color, 1);
        color: #111;
        border: 1.5px double $light-color;
        border-radius: 5px;
        padding: 0.5rem 1.5rem 0.75rem 1.5rem;
        display: block;
        margin: 0 auto;
        margin-top: 6rem;
        font-size: 1rem;
        letter-spacing: 0.1rem;

        @include easeOut;

        &:hover{
            background: transparent;
            color: $light-color;
        }
        &:focus{
            outline: none;
        }
    }
}