#html-icon {
    color: #DE4B24;
}
#css-icon {
    color: #1970B5;
}
#sass-icon {
    color: #C66394;
}
#bootstrap-icon {
    color: #6C419E;
}
#javascript-icon {
    color: #E8D54C;
}
#react-icon {
    color: #02D0F6;
}
#angular-icon {
    color: #D8353F;
}
#node-icon {
    color: #8CC03C;
}
#git-icon {
    color: #E94E32;
}
   
#express-icon {
    font-family: 'Open Sans';
    font-weight: 100;
    font-style: normal;
    font-size: 2px;
}

#mongo-icon {
    height: 1.5rem;
    background: url(../images/mongodb-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#postman-icon {
    height: 1.5rem;
    background: url(../images/postman-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}